:root {
  /* Fonts */
  --primary-fonts: Open Sans, sans-serif;
  --secondary-fonts: Raleway, sans-serif;
  /* Text colors */
  --primary-txt-cl: #303030;
  --light-txt-cl: #ffffff;
  --grey-cl: #555555;
  --grey-txt-cl: #9da4bd;
  --grey-color-60: rgba(157, 164, 189, 0.6);
  --grey-color-40: rgba(157, 164, 189, 0.4);
  --accent-txt-cl: #ff6c00;
  /* BG colors */
  --primary-bg-cl: #303030;
  --secondary-bg-cl: #111319;
  --third-bg-cl: #191c26;
  --light-bg-cl: #ffffff;
  --light-gray-bg-cl: #f7f7f7;
  --accent-bg-cl: #ff6c00;
  --grey-color-12: rgba(157, 164, 189, 0.12);
  --overlay-bg-cl: rgba(25, 28, 38, 0.2);
  --header-cl: rgba(17, 19, 25, 0.4);
  /* Others */
  --radius: 25px;
  --indent: 30px;
  --items: 3;
  /* Transition time */
  /* --transit-fast: 1800ms ease-in-out; */
  --transit-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transit-slow: ;
}
/* Animations */
@keyframes move-right {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes move-top {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes zoom-in {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/*__________ Visually hidden __________*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*__________ Reset styles __________*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
}
/*__________ Common styles __________*/
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--primary-fonts);
  font-size: 18px;
  font-style: normal;
  line-height: calc(30 / 18); /* 166.667% */
  letter-spacing: 0.36px;

  color: var(--grey-cl);
}
/*__________ Basic styles __________*/
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid Red; */
}
.media-link {
  font-size: 11px;
  font-weight: 600;
  line-height: normal; /* normal */
  letter-spacing: 2.2px;

  color: var(--primary-txt-cl);
}
.uppertitle {
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  gap: 20px;

  font-size: 11px;
  font-weight: 600;
  line-height: normal; /* normal */
  text-transform: uppercase;

  color: var(--primary-txt-cl);
}
.uppertitle::before {
  content: '';

  display: block;
  width: 60px;
  height: 1px;

  background-color: var(--primary-txt-cl);
}
.uppertitle-grey {
  color: var(--grey-color-60);
}
.uppertitle-grey::before {
  background-color: var(--grey-color-60);
}
.title {
  margin-bottom: 20px;

  font-family: var(--secondary-fonts);
  font-size: 42px;
  line-height: normal; /* normal */
  letter-spacing: 2.1px;

  color: var(--primary-txt-cl);
}
.title-white {
  color: var(--light-txt-cl);
}
/* Hidden-title */
.hidden-title {
  display: none;
}
.subtitle {
  margin-bottom: 20px;

  color: var(--grey-cl);
}
.description {
  margin-bottom: 42px;

  font-size: 14px;
  line-height: calc(26 / 14); /* 185.714% */
  letter-spacing: 0.28px;
}
.txt {
  font-size: 12px;
  font-weight: 600;
  line-height: normal; /* normal */
}
/* button */
.btn {
  min-width: 160px;
  min-height: 40px;
  padding: 12px 20px;

  border-radius: var(--radius);
  border: 1px solid var(--accent-bg-cl);

  font-family: inherit;
  font-size: 11px;
  font-weight: 600;
  line-height: normal; /* normal */
  letter-spacing: 1.08px;
  text-transform: uppercase;

  color: var(--primary-txt-cl);
  background-color: transparent;
  cursor: pointer;

  transition: background-color var(--transit-fast);
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-bg-cl);
}
.btn-dark {
  color: var(--light-txt-cl);
}
/* Card-set */
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set-item {
  flex-basis: calc((100% - var(--indent) * var(--items) - 1)) / var(--items);
}
