/* 
Breakpoints:

phones  - 480px
tablet  - 768px
desktop - 1200px
*/

/* =============== Variable colors Переменные ===============*/

:root {
  /* Fonts */
  --primary-fonts: Open Sans, sans-serif;
  --secondary-fonts: Raleway, sans-serif;
  /* Text colors */
  --primary-txt-cl: #303030;
  --light-txt-cl: #ffffff;
  --grey-cl: #555555;
  --grey-txt-cl: #9da4bd;
  --grey-color-60: rgba(157, 164, 189, 0.6);
  --grey-color-40: rgba(157, 164, 189, 0.4);
  --accent-txt-cl: #ff6c00;
  /* BG colors */
  --primary-bg-cl: #303030;
  --secondary-bg-cl: #111319;
  --third-bg-cl: #191c26;
  --light-bg-cl: #ffffff;
  --light-gray-bg-cl: #f7f7f7;
  --accent-bg-cl: #ff6c00;
  --grey-color-12: rgba(157, 164, 189, 0.12);
  --overlay-bg-cl: rgba(25, 28, 38, 0.2);
  --header-cl: rgba(17, 19, 25, 0.4);
  /* Others */
  --radius: 25px;
  --indent: 30px;
  --items: 3;

  --header-idx: 1000;
  /* Transition time */
  /* --transit-fast: 1800ms ease-in-out; */
  --transit-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transit-slow: ;
}

/* =============== Animations =============== */

@keyframes move-right {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes move-top {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes zoom-in {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/**
  |============================
  | Base styles
  |============================
*/

html {
  scroll-behavior: smooth;
}

body {
  /* padding-top: 120px;  */ /* Сдвигаю body под header */

  font-family: var(--primary-fonts);
  font-size: 18px;
  font-style: normal;
  line-height: calc(30 / 18); /* 166.667% */
  letter-spacing: 0.36px;

  color: var(--grey-cl);
}
button {
  cursor: pointer;
}

/* ===== Reset style ===== */

/* Нормализация
(box-sizing: border-box;) 
- Первый вариант: прописываются это правило в начале файла CSS, без подключания файлоа таблицы стилей Modern-normalize. 
- Второй вариант подключается Modern-normalize таблица стилей в шапке сайта в теге <head>, во втором варианте после подключения modern-normalize в теге head, этот кастыль нам не нужен!

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
}
/* ===== Reset END ===== */
/* ________________________________________________________ */

/* =============== Common style =============== */
.about,
.price,
.benefits,
.team,
.gallery,
.contacts,
.booking {
  padding-top: 84px;
  padding-bottom: 84px;

  /* outline: Нужен чтоб видеть края элементов */
  /* outline: 1px solid rgb(189, 102, 255);  */
}
@media screen and (min-width: 768px) {
  .about,
  .price,
  .benefits,
  .team,
  .gallery,
  .contacts,
  .booking {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .about,
  .price,
  .benefits,
  .team,
  .gallery,
  .contacts,
  .booking {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* Phone screen: >= 320px */
.container {
  min-width: 320px; /* Базовая минимальная ширина */
  max-width: 448px; /* Базовая максимальная ширина */
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: Нужен чтоб видеть края элементов */
  /* outline: 1px solid Red; */
  /* outline-offset: -2px; */
}
/* Tablet screen: >= 768px */
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
/* Desktop screen: >= 1200px */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.media-link {
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;

  color: var(--primary-txt-cl);
}
.uppertitle {
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  gap: 20px;

  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;

  color: var(--primary-txt-cl);
}
.uppertitle::before {
  content: '';

  display: block;
  width: 60px;
  height: 1px;

  background-color: var(--primary-txt-cl);
}
.uppertitle-grey {
  color: var(--grey-color-60);
}
.uppertitle-grey::before {
  background-color: var(--grey-color-60);
}
.title {
  margin-bottom: 20px;

  font-family: var(--secondary-fonts);

  font-size: 28px;
  font-style: normal;
  line-height: normal;

  letter-spacing: 1.4px;

  color: var(--primary-txt-cl);
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 42px;
    letter-spacing: 2.1px;
  }
}
.title-white {
  margin-bottom: 44px;

  font-size: 42px;
  font-weight: 700;
  letter-spacing: 2.1px;

  color: var(--light-txt-cl);
}
.subtitle {
  margin-bottom: 20px;

  font-size: 16px;
  font-weight: 400;
  line-height: calc(26 / 16); /* 162.5% */
  letter-spacing: 0.32px;

  color: var(--grey-cl);
}
@media screen and (min-width: 1200px) {
  .subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: calc(30 / 18); /* 162.5% */
    letter-spacing: 0.36px;
  }
}
.txt {
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
}
/* Hidden-title */
.hidden-title {
  display: none;
}
/* ===== Button =====*/
.btn {
  min-width: 160px;
  min-height: 40px;
  padding: 12px 20px;

  border-radius: var(--radius);
  border: 1px solid var(--accent-bg-cl);

  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;

  color: var(--primary-txt-cl);
  background-color: transparent;
  cursor: pointer;

  transition: background-color var(--transit-fast);
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-bg-cl);
}
.btn-dark {
  color: var(--light-txt-cl);
}

/* ===== Visually hidden =====*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* ===== Card-set сетка для портфолио ===== */
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set-item {
  /* Формула для портфолио */
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
/**
  |============================
  | Header styles
  |============================
*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--header-idx);

  width: 100%;

  padding-top: 20px;
  padding-bottom: 20px;
  /* background-color: var(--third-bg-cl); */
  transition: background-color var(--transit-fast),
    backdrop-filter var(--transit-fast);

  /* background-color: rgba(157, 164, 189, 0.6); */
}
.header.no-transparency {
  background-color: var(--header-cl);
  backdrop-filter: blur(2px);
}
.header-conteiner {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 60px;
}
@media screen and (min-width: 1200px) {
  .header-logo {
    margin-right: 130px;
  }
}
.header-logo-icon {
  display: block;
  fill: var(--light-bg-cl);

  transition: fill var(--transit-fast);
}
@media screen and (min-width: 768px) {
  .header-logo-icon {
    fill: var(--primary-bg-cl);
  }
}
.header-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-nav {
    display: block;
    margin-right: auto;
  }
}
.header-list {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 1200px) {
  .header-list {
    gap: 30px;
  }
}
.header-link,
.header-contact {
  position: relative;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;

  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;

  color: var(--light-txt-cl);
  transition: color var(--transit-fast);
}
.header-link:hover,
.header-link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-txt-cl);
}
.header-link.current {
  color: var(--accent-txt-cl);
}
.header-link.current::after {
  content: '';
  position: absolute;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 4px;
  background-color: var(--accent-txt-cl);
}
.header-wrapper {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-wrapper {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
}
.header-contact {
  margin-right: 40px;
}
@media screen and (max-width: 1199px) {
  .header-contact {
    display: none;
  }
}
.header-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  background-color: transparent;
  border: none;
  padding: 0;

  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header-menu-btn {
    display: none;
  }
}
.header-menu-icon {
  fill: var(--light-txt-cl);
}
/**
  |============================
  | Hero styles
  |============================
 */

/* Left-side */

@media screen and (max-width: 767px) {
  .hero {
    background-color: rgba(25, 28, 38, 0.2);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url(../images/hero/img-3_mob@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)
        ),
        url(../images/hero/img-3_mob@2x.jpg);
    }
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url(../images/hero/img-3_tab@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)
        ),
        url(../images/hero/img-3_tab@2x.jpg);
    }
  }
}
@media screen and (min-width: 768px) {
  .hero-container {
    position: relative;
    display: flex;
  }
}
.hero-left-side {
  display: flex;
  align-items: flex-end;

  width: 100px;
}
@media screen and (max-width: 767px) {
  .hero-left-side {
    display: none;
  }
}
.hero-media {
  transform: rotate(-90deg) translateY(30px);
  transform-origin: center left;
}
.media {
  display: flex;
  align-items: center;
  gap: 40px;
}
.media::before {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--primary-bg-cl);
}
.media-link {
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: normal;
  letter-spacing: 2.2px;
  color: var(--primary-txt-cl);

  transition: color var(--transit-fast);
}
.media-link:hover,
.media-link:focus {
  color: var(--accent-txt-cl);
}

/* Right-side */

.hero-right-side {
  padding-top: 208px;
  padding-bottom: 208px;
}
@media screen and (min-width: 768px) {
  .hero-right-side {
    position: relative;
    flex-grow: 1;
    padding: 272px 0 237px 120px;
    background-color: var(--primary-bg-cl);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        var(--overlay-bg-cl),
        var(--overlay-bg-cl)
      ),
      url(../images/hero/img-3_desk@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-right-side {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)
        ),
        url(../images/hero/img-3_desk@2x.jpg);
    }
  }
}
@media screen and (min-width: 1200px) {
  .hero-right-side {
    padding: 272px 0 208px 100px;
  }
}
.hero-uppertitle-animation {
  animation: move-right 1000ms ease-out 500ms 1 alternate both;
}
.hero-title {
  margin-bottom: 20px;

  font-family: var(--secondary-fonts);
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;

  color: var(--light-txt-cl);

  /* Анимация */
  animation: move-top 1000ms ease-out 1500ms 1 alternate both;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-family: var(--secondary-fonts);
    font-size: 72px;
    line-height: normal;
    letter-spacing: 3.6px;

    color: var(--light-txt-cl);
  }
}
.hero-description {
  max-width: 336px;

  font-size: 16px;
  font-weight: 400;
  line-height: calc(26 / 16); /* 162.5% */
  letter-spacing: 0.32px;

  color: var(--grey-txt-cl);

  /* Анимация */
  animation: zoom-in 1000ms ease-out 2500ms 1 alternate both;
}
@media screen and (min-width: 768px) {
  .hero-description {
    max-width: 360px;

    font-size: 18px;
    line-height: calc(30 / 18); /* 166.667% */
    letter-spacing: 0.36px;
  }
}

/* _____ slider _____ */
@media screen and (max-width: 767px) {
  .slider-controls {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .slider-controls {
    position: absolute;
    bottom: 40px;
    right: 20px;

    display: flex;
    align-items: center;
    gap: 24px;
  }
}
.slider-controls-item {
  display: block;
  width: 60px;
  color: var(--grey-color-60);
  border-bottom: 1px solid var(--grey-color-60);

  transition: color var(--transit-fast) border var(--transit-fast);
}
.slider-controls-item.current {
  color: var(--light-bg-cl);
  border-color: var(--light-bg-cl);
}
.slider-controls-item:nth-child(2) {
  text-align: right;
}
.slider-controls-btn {
  margin: 0;
  padding: 0 0 9px 0;

  text-align: left;
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;

  border: none;
  color: inherit;
  background-color: transparent;
}
/**
  |============================
  | About styles
  |============================
*/
.about-container {
  display: flex;
}
.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-right: 30px;
}
@media screen and (max-width: 767px) {
  .about-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .about-list {
    min-width: 330px;
    gap: 30px;
  }
}
.about-item {
  overflow: hidden;
}
.about-img {
  transition: transform var(--transit-fast);
}
@media screen and (min-width: 1200px) {
  .about-img {
    width: 270px;
    height: 445px;
  }
}
.about-item:hover .about-img {
  transform: scale(1.2);
  /* transform: skew(-15deg); */
}
@media screen and (min-width: 480px) {
  .about-right-side {
    min-width: 330px;
    max-width: 470px;
  }
}
@media screen and (max-width: 767px) {
  .about .title {
    max-width: 306px;
  }
}
.about-description {
  margin-bottom: 40px;

  font-size: 14px;
  line-height: calc(26 / 14); /* 185.714% */
  letter-spacing: 0.28px;
}
@media screen and (min-width: 768px) {
  .about-description {
    margin-bottom: 77px;
  }
}
@media screen and (min-width: 1200px) {
  .about-description {
    margin-bottom: 42px;
  }
}
/**
  |============================
  | Price section
  |============================
*/
.price {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--secondary-bg-cl);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/price/img_mob@1x.png);
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .price {
    background-image: url(../images/price/img_mob@2x.png);
  }
}
@media screen and (min-width: 480px) {
  .price {
    background-image: url(../images/price/img_tab@1x.png);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .price {
      background-image: url(../images/price/img_tab@2x.png);
    }
  }
}

@media screen and (min-width: 768px) {
  .price {
    background-image: url(../images/price/img_desk@1x.png);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .price {
      background-image: url(../images/price/img_desk@2x.png);
    }
  }
}

@media screen and (max-width: 767px) {
  .price .title-white {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
  }
}
.price-wrapper {
  margin-bottom: 44px;
}
@media screen and (max-width: 1199px) {
  .price-wrapper {
    padding: 30px 20px 30px 40px;
    background-image: linear-gradient(180deg, #171a24, rgba(23, 26, 36, 0.2));
  }
}
@media screen and (min-width: 1200px) {
  .price-wrapper {
    display: flex;
    gap: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .price-list:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .price-list {
    width: 570px;
    padding: 30px 20px;
  }
  .price-list:first-child {
    background-image: linear-gradient(
      180deg,
      #171a24 0%,
      rgba(23, 26, 36, 0.2) 100%
    );
  }
  .price-list:last-child {
    background-image: linear-gradient(
      180deg,
      #090b13 0%,
      rgba(9, 11, 19, 0.2) 100%
    );
  }
}
.price-item {
  display: flex;
  align-items: baseline;
  gap: 12px;

  color: var(--grey-txt-cl);
}

@media screen and (max-width: 767px) {
  .price-item {
    font-size: 14px;
    font-weight: 400;
    line-height: calc(20 / 14); /* 142.857% */
    letter-spacing: 0.28px;
  }
}
.price-item:not(:last-child) {
  margin-bottom: 20px;
}
.price-line {
  display: block;
  flex-grow: 1;
  height: 2px;
  background-color: var(--grey-color-12);
}
.price-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/**
  |============================
  | Benefits section
  |============================
*/
@media screen and (min-width: 1200px) {
  .benefits-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    /* gap: 30px; */
  }
}
/* right-side */
@media screen and (max-width: 1199px) {
  .benefits-right-side {
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 768px) {
  .benefits-right-side {
    width: 500px;
  }
}
@media screen and (max-width: 767px) {
  .benefits .title {
    max-width: 418px;

    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;
  }
}
@media screen and (min-width: 768px) {
  .benefits .title {
    width: 430px;
    font-size: 42px;
  }
}

/* left-side */

@media screen and (min-width: 1200px) {
  .benefits-left-side {
    width: 570px;
  }
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .benefits-list {
    width: 450px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
}
.benefits-item {
  width: 193px;
  min-height: 133px;

  padding: 20px 35px;
  background-color: var(--light-gray-bg-cl);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}
.benefits-item:nth-child(2n) {
  margin-left: 30px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .benefits-item {
    width: 210px;
    padding: 20px 44px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-item {
    width: 170px;
    padding: 20px 24px;
  }
}
.benefits-quentity {
  margin-bottom: 6px;
  text-align: center;

  font-family: var(--primary-fonts);
  font-size: 42px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
}
.benefits-quentity::after {
  content: '\002B';
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  color: var(--accent-txt-cl);
}
.benefits-text {
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  color: var(--primary-txt-cl);
}
/**
  |============================
  | Team section
  |============================
*/
.team {
  background-color: var(--light-gray-bg-cl);
}
@media screen and (max-width: 1199px) {
  .team-container {
    max-width: 480px;
  }
}
.team-title {
  margin-bottom: 44px;

  font-size: 42px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
}
.team-list {
  --items: 1;
}
@media screen and (min-width: 1200px) {
  .team-list {
    --items: 3;
  }
}
.team-item {
  width: 370px;
}
@media screen and (max-width: 1199px) {
  .team-item {
    margin-bottom: 34px;
  }
}

.team-wrapper {
  padding-top: 30px;
  text-align: center;
}
.team-name {
  margin-bottom: 8px;
  color: var(--primary-txt-cl);
}
.team-post {
  margin-bottom: 30px;

  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;

  color: var(--accent-txt-cl);
}
.team-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  color: var(--primary-bg-cl);
  background-color: var(--light-bg-cl);
  border-radius: 50%;

  transition: color var(--transit-fast), background-color var(--transit-fast);
}
.team-social-link:hover,
.team-social-link:focus {
  color: var(--light-bg-cl);
  background-color: var(--accent-bg-cl);
}
.socials-icon {
  fill: currentColor;
}
/**
  |============================
  | Gallary section
  |============================
*/
.gallery .uppertitle {
  margin-bottom: 71px;
}
@media screen and (min-width: 768px) {
  .gallery .uppertitle {
    margin-bottom: 44px;
  }
}
.gallery-list {
  --items: 1;
}
@media screen and (min-width: 768px) {
  .gallery-list {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-list {
    --items: 4;
  }
}

/**
  |============================
  | Booking and Contact section
  |============================
*/
.wrapper-connection {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;

  background-color: var(--third-bg-cl);
}
@media screen and (min-width: 1200px) {
  .wrapper-connection {
    display: flex;
  }
}

/* ===== Booking section ===== */
.wrapper-booking {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .booking-section {
    width: 600px;
    margin-left: auto;
    padding-bottom: 183px;
    padding-top: 130px;
  }
}

@media screen and (max-width: 767px) {
  .booking .title {
    text-align: center;
  }
}

.booking-form-group {
  align-items: center;
  gap: 30px;

  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .booking-form-group {
    display: flex;
  }
}
.booking-form-field {
  position: relative;
  display: block;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .booking-form-field:not(:last-child) {
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 768px) {
  .booking-form-field {
    width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .booking-form-field {
    width: 270px;
  }
}
.booking-form-input {
  width: 100%;
  height: 24px;
  padding-right: 22px;

  font-size: 14px;
  color: var(--light-txt-cl);

  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--grey-color-40);
  outline: transparent;

  transition: border-color var(--transit-fast);
}
.booking-form-input:focus,
.booking-form-input:not(:placeholder-shown) {
  border-color: var(--light-bg-cl);
}
.booking-form-input:not(:placeholder-shown):invalid:required {
  border-color: rgb(255, 187, 0);
}
.booking-form-input:not(:placeholder-shown):valid:required {
  border-color: rgb(0, 164, 57);
}
.booking-form-input::placeholder {
  transition: opacity var(--transit-fast);
  opacity: 0;
}
.booking-form-input:focus::placeholder {
  opacity: 1;
}
.booking-form-label {
  position: absolute;
  bottom: 8px;
  left: 0;
  transform-origin: left center;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--grey-color-40);

  transition: color var(--transit-fast), transform var(--transit-fast);
}
.booking-form-input:focus + .booking-form-label,
.booking-form-input:not(:placeholder-shown) + .booking-form-label {
  color: var(--light-txt-cl);
  transform: translateY(-20px) scale(0.8);
}
.booking-form-massage {
  position: relative;
  display: block;
  margin-bottom: 44px;
}
.booking-form-textarea {
  display: block;
  width: 100%;
  height: 76px;

  font-size: 14px;
  color: var(--light-txt-cl);

  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--grey-color-40);
  outline: transparent;

  transition: border-color var(--grey-color-40);
  resize: none;
}
.booking-form-textarea:focus {
  border-color: var(--light-bg-cl);
}
.booking-form-massage .booking-form-label {
  top: 0;
}
.booking-form-textarea:focus + .booking-form-label,
.booking-form-textarea:not(:placeholder-shown) + .booking-form-label {
  transform: translateY(-30px) scale(0.8);
  color: var(--light-txt-cl);
}
.success-icon {
  opacity: 0;
  fill: rgb(0, 164, 57);
  transition: opacity var(--transit-fast);
}
.info-icons {
  position: absolute;
  bottom: 4px;
  right: 0;
}
.booking-form-input:not(:placeholder-shown):valid:required
  ~ .info-icons
  > .success-icon {
  opacity: 1;
}
.warning-msg {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(20px);

  display: block;
  width: 100%;
  font-size: 10px;
  color: rgb(255, 187, 0);
  text-align: center;
  opacity: 0;

  transition: opacity var(--transit-fast);
}
.booking-form-input:not(:placeholder-shown):focus:invalid:required
  ~ .warning-msg {
  opacity: 1;
}
.warning-icon {
  opacity: 0;
  fill: rgb(255, 187, 0);

  transition: opacity var(--transit-fast);
}
.booking-form-input:not(:placeholder-shown):focus:invalid:required
  ~ .info-icons
  > .warning-icon {
  opacity: 1;
}
@media screen and (max-width: 767px) {
  .btn-booking {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
/* ===== Contact section ===== */
.wrapper-contacts {
  width: 100%;

  background-color: var(--third-bg-cl);
  background-image: url(../images/contact/img_mob@1x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .wrapper-contacts {
    background-image: url(../images/contact/img_mob@2x.png);
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .wrapper-contacts {
    background-image: url(../images/contact/img_tab@1x.png);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .wrapper-contacts {
      background-image: url(../images/contact/img_tab@2x.png);
    }
  }
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .wrapper-contacts {
    background-image: url(../images/contact/img_tab@2x.png);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .wrapper-contacts {
      background-image: url(../images/contact/img_tab@2x.png);
    }
  }
}
@media screen and (min-width: 1200px) {
  .wrapper-contacts {
    background-image: url(../images/contact/img_desk@1x.png);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .wrapper-contacts {
      background-image: url(../images/contact/img_desk@2x.png);
    }
  }
}

@media screen and (min-width: 1200px) {
  .contacts-section {
    width: 600px;
    margin-right: auto;

    padding-top: 130px;
    padding-left: 85px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-container {
    display: flex;
    gap: 30px;
  }
}

.address-wrapper {
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .address-wrapper {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .address-wrapper {
    margin-bottom: 70px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-wrapper {
    width: 330px;
  }
}
.contacts .title-white {
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .contacts .title-white {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.contacts-block {
  font-style: normal;
}
@media screen and (min-width: 1200px) {
  .contacts-block {
    margin-bottom: 70px;
  }
}
.location-link {
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .location-link {
    max-width: 230px;
  }
}
.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}
.contacts-link {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--grey-txt-cl);
}
.contacts-icon {
  fill: transparent;
  stroke: currentColor;
}
/* Schedule */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .schedule-wrapper {
    width: 250px;
    padding-top: 89px;
  }
}
.schedule-description {
  color: var(--grey-txt-cl);
}
.schedule-uppertitle {
  margin-bottom: 20px;
  color: var(--light-txt-cl);
}
.schedule-uppertitle::before {
  background-color: var(--grey-color-40);
}
/**
  |============================
  | Footer section
  |============================
*/
.footer {
  padding-top: 44px;
  padding-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 52px;
    padding-bottom: 52px;
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
}
.footer-media {
  justify-content: flex-end;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer-media {
    margin-bottom: 0;
  }
}
.footer-list,
.footer-item {
  display: flex;
  align-items: center;
  gap: 40px;
}
.footer-item:first-child::before {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--primary-txt-cl);
}
.media-link.footer-desc {
  color: var(--grey-txt-cl);
}
/**
  |============================
  | Mobile menu
  |============================
*/
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* можно так width: 100%; */
  height: 100vh; /* можно так width: 100%; */
  z-index: 1100;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  background: rgba(25, 28, 38, 0.2);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16),
    0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);

  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}
.menu-container.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
.menu-container .menu-toggle {
  position: absolute;
  top: 48px;
  right: 30px;
  color: #fff;
}
.mobile-content {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 70%;

  padding: 118px 40px;

  background-color: var(--light-bg-cl);
  box-shadow: -1px 0px 3px 0px rgba(0, 0, 0, 0.16),
    -2px 0px 4px 0px rgba(0, 0, 0, 0.08), -4px 0px 8px 0px rgba(0, 0, 0, 0.04);

  transform: translateX(100%);
  transition: transform 250ms ease-in-out 250ms;
}
.menu-container.is-open .mobile-content {
  transform: translateX(0);
}
.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;

  margin-bottom: 64px;
}
.mobile-item:not(:last-child) {
  padding-bottom: 24px;
}

.mobile-link,
.mobile-contact {
  display: block;
  /* padding: 10px; */
  /* color: #fff; */
  text-decoration: none;

  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.8px;

  color: var(--primary-txt-cl);
}
.mobile-link.current {
  color: var(--accent-txt-cl);
}
.mobile-wrapper {
  margin-bottom: 64px;
}
.mobile-contact {
  margin-bottom: 24px;
}
.mobile-menu-btn.btn {
  min-width: 194px;
}
.mobile-media {
  position: relative;
  width: 100%;
  display: block;
}
.mobile-media-item {
  display: block;
  margin-left: 100px;
}
.mobile-media-item:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-media-item:first-child:before {
  position: absolute;
  top: 16px;
  left: 0;
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--primary-txt-cl);
}
.mobile-media .media-link {
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.8px;

  color: var(--primary-txt-cl);
}

/**
  |============================
  | Modal-window
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);

  transition: opacity var(--transit-fast), visibility var(--transit-fast);
}
.backdrop.is-hidden {
  /* opacity: 0; */
  visibility: hidden;
  pointer-events: none;

  transition-delay: 250ms; /* или тут, или в modal transition-delay: 400ms; */
}
.modal {
  position: absolute;
  /* top: calc(50% - 288px);
  left: calc(50% - 204px); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 420px;
  min-height: 550px;

  padding: 60px 40px 40px;

  border-radius: 4px;
  background-color: var(--light-bg-cl);

  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

  transition: transform 300ms ease 400ms, opacity 150ms ease 400ms;
  /* transition-delay: 400ms; */
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -80%);
  opacity: 0;
  transition-delay: 0s;
}
/* modal-btn-close */
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  padding: 0;

  border: none;
  border-radius: 50%;

  background-color: var(--accent-bg-cl);

  cursor: pointer;
}
.modal-icon {
  fill: var(--light-bg-cl);
}
/*__________ Form-modal __________*/
.modal-title {
  display: block;
  margin-bottom: 16px;
  text-align: center;
}
.modal-form-label {
  display: block;
  font-size: 12px;
  margin-bottom: 6px;
}
.modal-form-group {
  position: relative;
  margin-bottom: 10px;
}
.modal-form-field {
  display: block;
  width: 100%;
  height: 45px;

  padding-left: 45px;
  padding-right: 45px;

  border-radius: 6px;
  border: 1px solid var(--primary-bg-cl);

  outline: 2px solid transparent;
  outline-offset: -1px;

  transition: outline-color var(--transit-fast),
    border-color var(--transit-fast), box-shadow var(--transit-fast);
}
.modal-form-field:focus,
.modal-form-field:focus-visible,
.modal-form-comment:focus,
.modal-form-comment:focus-visible {
  outline-color: var(--accent-bg-cl);
  border-color: var(--accent-bg-cl);
  box-shadow: 0 0 0 6px rgba(255, 108, 0, 0.25);
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);

  pointer-events: none;

  transition: fill var(--transit-fast);
}
.modal-form-field:focus + .modal-form-icon {
  fill: var(--accent-bg-cl);
}
/* ----- Comment field ----- */
.modal-form-comment {
  display: block;
  width: 100%;
  height: 150px;
  padding: 15px 20px;
  margin-bottom: 20px;
  font-size: 13px;

  resize: none;

  border-radius: 6px;
  border: 1px solid var(--primary-bg-cl);

  outline: 2px solid transparent;
  outline-offset: -1px;
  transition: outline-color var(--transit-fast), box-shadow var(--transit-fast);
}
.modal-form-comment::placeholder {
  color: gray;
}
/* ----- Agreement-field ----- */
.modal-form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
/* ----- Checkbox первый вариант ----- */
.modal-form-checkbox {
  appearance: none;
  display: block;
  width: 16px;
  height: 16px;

  border: 2px solid var(--primary-bg-cl);
  border-radius: 3px;

  transition: background-color 400ms cubic-bezier(0.075, 0.82, 0.165, 1),
    border-color 400ms cubic-bezier(0.075, 0.82, 0.165, 1),
    background-size 400ms cubic-bezier(0.075, 0.82, 0.165, 1) 200ms;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cpath d='M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z' fill='%23fff'/%3E%3C/svg%3E");

  background-repeat: no-repeat;
  background-position: center;
  background-size: 0px;
}
.modal-form-checkbox:checked {
  background-color: var(--accent-bg-cl);
  border-color: var(--accent-bg-cl);

  background-size: 14px;
}
/* ----- Кастомный checkbox (Дополнительный/второй вариант checkbox) ----- */
.custom-checkbox {
}
.custom-checkbox-frame {
  fill: transparent;
  stroke: #2e2f42;
  transition: 400ms;
}
.modal-form-checkbox:checked + .custom-checkbox > .custom-checkbox-frame {
  fill: var(--accent-bg-cl);
  stroke: var(--accent-bg-cl);
}
.custom-checkbox-check {
  fill: var(--light-bg-cl);
  opacity: 0;
  transform: rotate(0) scale(0.3);
  transition: 400ms 200ms;
  transform-origin: center;
}
.modal-form-checkbox:checked + .custom-checkbox > .custom-checkbox-check {
  opacity: 1;
  transform: rotate(360deg) scale(0.8);
}
/* ------------------------------------------------------- */
.modal-form-desc {
  font-size: 12px;
  line-height: calc(26 / 14);
  letter-spacing: 0.24px;

  user-select: none;
}
.modal-form-link {
  color: var(--accent-txt-cl);
}
/* Ставим кнопку по центру */
.modal-form-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Делаем кнопку неактивной */
.modal-form-btn:disabled {
  filter: grayscale(1);
  background-color: transparent;
  color: inherit;

  cursor: not-allowed;
}
